################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARStreetLamp/Assets/ArData/kalLamp/Base.mdl
/ARStreetLamp/Assets/ArData/kalLamp/Body.mdl
/ARStreetLamp/Assets/ArData/kalLamp/Glass.mdl
/ARStreetLamp/Assets/ArData/kalLamp/Lenses.mdl
/ARStreetLamp/Assets/ArData/m48Lamp/Lenses.mdl
/ARStreetLamp/Assets/ArData/m48Lamp/Glass.mdl
/ARStreetLamp/Assets/ArData/m48Lamp/Body.mdl
