################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARStreetLamp/Assets/ArData/kalLamp/Base.mdl
